{
  "env": {
    "development": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "modules": false,
            "useBuiltIns": "usage",
            "loose": true
          }
        }]
      ]
    },
    "production": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "modules": false,
            "useBuiltIns": "usage",
            "loose": true
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "loose": true
          }
        }]
      ]
    }
  }
}
