{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "useBuiltIns": "usage",
          "debug": false
        }],
        "next/babel"
      ]
    }
  }
}
