.App {
  background: #ccc;
  height: 100%;
}

.DrawerHeader {
  overflow: hidden;
  .DrawerHeaderBg {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0.75;
  }
}
